@{
    ViewData["Title"] = "Index";
}

<head>
    <title>What are Drugs?</title>
</head>
<body class="container">
    <br>
    <h1>What are drugs?</h1>
    <p id="givesomestyle">
        A <i> drug</i> is any substance (with the exception of food and water) which, when taken into the body, alters
        the bodys function either physically and/or psychologically. Drugs may be <strong>legal</strong> (e.g. <i>alcohol, caffeine and tobacco</i>)
        or <strong>illegal</strong> (e.g. <i>cocaine, ecstasy and heroin</i>).
        <strong>Psychoactive drugs</strong> affect the central nervous system and alter a person's <i>mood, thinking and behaviour</i>.
        Psychoactive drugs may be divided into four categories: <strong>depressants, stimulants, hallucinogens and 'other'.</strong>
        Drugs are typically distinguished from food and substances that provide nutritional support.
        Consumption of drugs can be via <strong>inhalation, injection, smoking, ingestion, absorption via a patch on the skin, or dissolution under the tongue.</strong>
    </p>
</body>
